version: '2'

services:
  drupal:
    image: custom-drupal
    build:
      context: .
      dockerfile: drupal.Dockerfile
    ports:
      - 8080:80
    volumes:
      - drupal-modules:/var/www/html/modules
      - drupal-profiles:/var/www/html/profiles
      - drupal-sites:/var/www/html/sites
      - drupal-themes:/var/www/html/themes
    links:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres
    environment:
      POSTGRES_PASSWORD: test
      POSTGRES_DB: test
      POSTGRES_USER: test
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  drupal-modules:
  drupal-profiles:
  drupal-themes:
  drupal-sites:
  postgres-data:
